@import "vars";
@import "global";
@import "fonts";

//start header
.header {
   background-color: #fff;
}
.header__top-inner {
   display: flex;
   justify-content: space-between;
   height: 90px;
   align-items: center;
}

.header__text {
   margin-left: auto;
   margin-right: 50px;
   span {
      color: $red;
   }
}
.header__btn {
   padding: 4px;
   width: 72px;
   border-radius: 4px;
   color: #fff;
   text-align: center;
   font-size: 12px;
}
.header__btn-login {
   background-color: $green;
}
.header__btn-register,
.header__btn-logout {
   background-color: $red;
   margin-left: 7px;
}

.header__menu {
   background-color: $bg;
}
.menu {
   display: flex;
   align-items: center;
   height: 60px;
}
.menu__list {
   li {
      display: inline-block;
      & + li {
         margin-left: 30px;
      }
   }
   a {
      color: #fff;
      @include f500;
      font-size: 14px;
   }
}

.header__circle {
   &.active {
      display: block;
   }
   display: none;
   width: 34px;
   height: 34px;
   border-radius: 50%;
   background-color: #f5f5f5;
   position: relative;
   &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #a0a0a0;
      font-size: 14px;
   }
   span {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      text-align: center;
      line-height: 18px;
      right: -7px;
      top: -7px;
      font-size: 11px;
      color: #fff;
   }
}

.header__box {
   display: flex;
   align-items: center;
}

.notification {
   span {
      background-color: $yellow;
   }
}
.message {
   span {
      background-color: $tomato;
   }
}
.basket {
   margin-right: 20px;
   span {
      background-color: #95c85a;
   }
}
.header__btn-login--off {
   display: none;
}
.header__btn-logout {
   display: none;
   &.header__btn-login--on {
      display: block;
   }
}

.user {
   margin-right: 25px;
   padding-right: 20px;
   position: relative;
   &::before {
      font-family: "icomoon";
      content: "\f107";
      position: absolute;
      font-size: 16px;
      color: #707070;
      top: 0;
      right: 0;
   }
   &__inner {
      display: flex;
      align-items: center;
   }
   &__images {
      margin-right: 15px;
      width: 34px;
      height: 34px;
      overflow: hidden;
      border-radius: 50%;
   }
   &__info {
      font-size: 14px;
   }
   &__name {
      @include f500;
      color: #222222;
   }
   &__money {
      color: $green;
      @include f700;
   }
}
// dropdown
.user__menu {
   border: 0px solid #ccc;
   position: absolute;
   top: 69px;
   left: 20px;
   background-color: #fff;
   padding: 0px 20px;
   width: 158px;
   transition: all 0.3s;
   height: 0;
   overflow: hidden;
   a {
      font-size: 12px;
      color: $text;
      margin-bottom: 15px;
   }
}
.circle__menu {
   position: absolute;
   top: 69px;
   z-index: 1;
}
.user__box,
.basket__box,
.message__box,
.notification__box {
   position: relative;
   height: 90px;
   margin-top: 40px;
   &:hover {
      .user__menu {
         height: auto;
         border-width: 1px;
         padding: 20px;
         overflow: auto;
      }
   }
}
.circle__menu {
   border-top: 1px solid #d5d5d5;
   top: 62px;
   right: 0;
   height: 0;
   transition: all 0.3s;
   overflow: hidden;
}
.basket__box,
.message__box,
.notification__box {
   margin-top: 54px;
   margin-left: 15px;
   &:hover {
      .header__circle::before {
         color: $bg;
      }
      .circle__menu {
         overflow: hidden;
         height: auto;
         z-index: 2;
      }
      .circle__item {
         padding: 23px;
         border-width: 1px;
      }
   }
}

.circle__item {
   background-color: #fff;
   border: 1px solid #d5d5d5;
   border-left-width: 1px;
   border-right-width: 1px;
   border-top: none;
   padding: 0px 23px;
   transition: all 0.3s;
   display: flex;
   align-items: center;
   width: 269px;
   position: relative;
   &::before {
      position: absolute;
      top: 27px;
      right: 28px;
      color: #b0bec5;
      font-size: 16px;
   }
}
.circle__images {
   margin-right: 15px;
}
.circle__info-name {
   @include f500;
   color: $bg;
}
.circle__info-theme {
   font-size: 12px;
   color: $green;
}
.circle__info-price {
   font-size: 16px;
   color: #000;
   @include f500;
}
.circle__info-date {
   font-size: 10px;
   color: #707070;
}
.basket__summ {
   padding: 16px 17px 12px;
   background-color: #fff;
   border: 1px solid #d5d5d5;
   border-top: none;
}
.basket__title {
   display: flex;
   justify-content: space-between;
   padding-left: 13px;
   padding-right: 22px;
   font-size: 16px;
   color: $bg;
   @include f700;
   margin-bottom: 15px;
}
.basket__btn {
   color: #fff;
   font-size: 14px;
   @include f700;
   padding: 7px 5px;
   background-color: $green;
   text-align: center;
   width: 100px;
}
.basket__btn-checkout {
   width: 123px;
   margin-left: 5px;
   background-color: #e85647;
}
.notification__menu,
.message__menu {
   .circle__images {
      margin-right: 20px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
   }
   .circle__info {
      line-height: 18px;
   }
}
.message__menu {
   .circle__info-name {
      font-size: 12px;
      @include f700;
   }
   .circle__info-theme {
      font-size: 11px;
   }
}
.notification__menu {
   .circle__item {
      &::before {
         position: absolute;
         top: 30px;
         right: 28px;
      }
   }
}
.icons-color::before {
   color: $tomato;
}

.header__bnt-menu,
.menu__btn {
   display: none;
}

//end header

//start modal
#modal {
   background-color: $green;
   max-width: 730px;
   width: 100%;
   padding-top: 90px;
   padding-bottom: 100px;
}
.login__title {
   text-align: center;
   @include f700;
   font-size: 48px;
   color: #fff;
   text-transform: uppercase;
   margin-bottom: 40px;
}
.login__wrapper {
   form {
      max-width: 400px;
      margin: 0 auto;
   }
   label {
      position: relative;
      display: block;
      width: 100%;
      &::before {
         position: absolute;
         font-family: "icomoon";
         color: #fff;
         font-size: 14px;
         left: 18px;
         top: 9px;
      }
   }
   .login__label-name::before {
      content: "\f007";
   }
   .login__label-pass::before {
      content: "\f023";
   }
   input {
      height: 43px;
      border: none;
      margin-bottom: 8px;
      background-color: #76ae36;
      color: #fff;
      padding-left: 40px;
      display: block;
      width: 100%;
      &::placeholder {
         color: #fff;
         font-size: 14px;
      }
   }
   button {
      margin-top: 19px;
      padding: 18px 0px 16px;
      width: 140px;
      background-color: #fff;
      color: #000;
      @include f700;
      text-transform: uppercase;
      border: none;
      margin-right: 10px;
      text-align: center;
      box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
   }
}
.lost-pass {
   display: block;
   margin-top: 20px;
   color: #fff;
   font-size: 18px;
}
.creat-acc {
   padding: 15px 0px 15px 28px;
   margin-top: 19px;
   text-align: center;
   width: 245px;
   background-color: #76ae36;
   color: #fff;
   font-size: 18px;
   position: relative;
   &::before {
      content: "\f044";
      font-family: "icomoon";
      position: absolute;
      top: 15px;
      left: 35px;
   }
}
.fancybox-button svg path {
   color: #fff;
}

//end modal

// start search

.search {
   background-image: url("../images/search-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 530px;
}

// узкая полоса поиска для других страниц
.page-search {
   min-height: 228px;
}
.page-search .search__inner {
   padding: 55px 0px 65px;
}
.page-search .search__inner-text {
   margin-bottom: 25px;
}
//

.search__inner {
   padding: 155px 0px 100px;
   color: #fff;
   text-align: center;
   &-title {
      font-size: 48px;
      @include f700;
      margin-bottom: 10px;
      line-height: 72px;
   }
   &-text {
      font-size: 20px;
      @include f500;
      margin-bottom: 50px;
      line-height: 30px;
   }
   &-form {
      max-width: 670px;
      margin: 0 auto;
      position: relative;
      input {
         display: block;
         width: 100%;
         box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
         border-radius: 4px;
         height: 56px;
         border: none;
         font-size: 14px;
         @include f500;
         padding-left: 25px;
         padding-right: 60px;
         &::placeholder {
            color: #90a4ae;
            @include f500;
         }
      }
      button {
         position: absolute;
         border: none;
         background-color: transparent;
         right: 20px;
         top: 16px;
      }
   }
}

// end search
// start products
.products {
   padding: 110px 0px;
   background-color: $gray;
}
.products__inner-btn {
   text-align: center;
   margin-bottom: 60px;
   button {
      padding: 12px 21px;
      border: none;
      background-color: #fff;
      color: $bg;
      cursor: pointer;
      & + button {
         margin-left: 5px;
      }
      &.mixitup-control-active {
         background-color: $red;
         color: #fff;
      }
   }
}
.products__inner-box {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.product__item {
   max-width: 422px;
   width: 100%;
   background-color: #fff;
   box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
   margin-bottom: 30px;
   &-img {
      min-height: 250px;
      background-repeat: no-repeat;
      display: block;
      background-position: center center;
      background-size: cover;
   }
   &-content {
      display: flex;
      justify-content: space-between;
      padding: 10px 30px;
      min-height: 90px;
      align-items: center;
      @include f500;
      border-bottom: 1px solid #e7ecf2;
   }
   &-name {
      max-width: 310px;
      display: block;
   }
   &-title {
      color: $bg;
      display: block;
      font-size: 18px;
   }
   &-category {
      font-size: 14px;
      color: $green;
      display: block;
   }
   &-price {
      font-size: 20px;
      color: $bg;
      @include f700;
   }
   &-info {
      display: flex;
      justify-content: space-between;
      min-height: 70px;
      align-items: center;
      padding: 10px 30px;
   }
   &-author {
      display: flex;
      align-items: center;
      max-width: 245px;
      .avatar {
         width: 30px;
         height: 30px;
         border: 50%;
         background-position: center;
         display: inline-block;
         background-repeat: no-repeat;
         background-size: cover;
         margin-right: 14px;
      }
      span {
         font-size: 14px;
         @include f500;
      }
   }
   &-star {
      font-size: 12px;
      span {
         color: $bg;
      }
   }
}

.products__bottom-btn {
   text-align: center;
   button {
      margin: 45px 5px 0px;
      box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
      border: none;
      background-color: #fff;
      color: $bg;
      font-size: 16px;
      padding: 20px 30px;
      cursor: pointer;
      &.mixitup-control-active {
         background-color: $red;
         color: #fff;
      }
   }
}

// end products

//start product-slider
.product-slider {
   padding: 110px 0px 120px;
   .slick-dots {
      text-align: center;
      margin-top: 50px;
      li {
         display: inline-block;
         margin-left: 3px;
         margin-right: 3px;
         &.slick-active {
            button {
               background-color: $green;
            }
         }
         button {
            border-radius: 50%;
            background-color: #e8e8e8;
            border: none;
            font-size: 0;
            width: 16px;
            height: 16px;
            cursor: pointer;
            outline: none;
         }
      }
   }
}

//end product-slider

//start advantages

.advantages {
   background-color: $bg;
   padding: 110px 0px;
}
.advantages__title {
   color: #fff;
   margin-bottom: 70px;
}

.advantages__inner {
   display: flex;
   justify-content: space-between;
}
.advantages__item {
   max-width: 370px;
   text-align: center;
   padding: 0px 15px;

   &:hover {
      .advantages__item-images {
         background-color: $green;
      }
      .advantages__item-title {
         color: $green;
      }
      .advantages__item-images {
         g {
            fill: #fff;
         }
      }
   }
   &-images {
      width: 114px;
      height: 114px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 30px;
      transition: all 0.5s;
   }
   &-title {
      margin-bottom: 25px;
      color: #fff;
      font-size: 24px;
      @include f500;
      transition: all 0.5s;
   }
   &-text {
      font-size: 15px;
   }
}
.icosvg-1 {
   svg {
      width: 50px;
   }
}
.icosvg-2 {
   svg {
      width: 70px;
   }
}
.icosvg-3 {
   svg {
      width: 86px;
   }
}
// end advantages

// start auhtor

.author {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 750px;
   display: flex;
   justify-content: center;
   align-items: center;
   &__box {
      max-width: 650px;
      width: 100%;
      min-height: 215px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $green;
   }
   &__title {
      font-size: 30px;
      line-height: 30px;
      color: #fff;
      margin-right: 45px;
      max-width: 270px;
      span {
         @include f700;
      }
   }
   &__link {
      font-size: 18px;
      line-height: 36px;
      padding: 14px 40px;
      background-color: #fff;
      color: $bg;
   }
}
// end author

// start tutorial
.tutorial {
   padding: 70px 0px 120px;
   &__inner {
      display: flex;
      justify-content: space-between;
   }
   &__title {
      @include f700;
   }
   &__item {
      max-width: 370px;
      width: 100%;
   }
}

.tutorial__item {
   &-images {
      min-height: 270px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }
   &-title {
      font-size: 24px;
      @include f700;
      background-color: #f8f8f8;
      color: $bg;
      text-align: center;
      padding: 35px 10px;
   }
}
// end tutorial

// start footer
.footer {
   background-color: $bg;
   &__inner {
      display: flex;
      justify-content: space-between;
      padding: 100px 0px 90px;
   }
}

.footer__col {
   max-width: 270px;
   width: 100%;
   &-menu {
      max-width: 220px;
   }
   &-title {
      font-size: 22px;
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      padding-bottom: 22px;
      margin-bottom: 30px;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 2px;
         width: 51px;
         height: 3px;
         background-color: $green;
      }
   }
   &-text {
      color: #b7c3c8;
      margin-bottom: 30px;
   }
}
.footer__info {
   margin-top: 18px;
   color: #fff;
   @include f500;
   padding-left: 30px;
   position: relative;
   &::before {
      content: "\f041";
      font-family: "icomoon";
      color: $green;
      font-size: 18px;
      position: absolute;
      left: 0;
   }
}
.footer__info-phone {
   &::before {
      content: "\f095";
   }
}
.footer__col-list {
   a {
      margin-bottom: 15px;
      color: #b7c3c8;
      padding-left: 22px;
      position: relative;
      &::before {
         content: "\f105";
         font-family: "icomoon";
         color: $green;
         font-size: 18px;
         position: absolute;
         left: 0;
         bottom: 2px;
      }
   }
}

.footer__social-link {
   margin-bottom: 33px;
   li {
      display: inline-block;
      & + li {
         margin-left: 4px;
      }
   }
   a {
      width: 28px;
      height: 28px;
      background-image: url("../images/css_sprites.png");
   }
}

//спрайты
.link-twiter {
   background-position: -28px -0;
}
.link-youtube {
   background-position: -0 -28px;
}
.link-pinterest {
   background-position: -28px -28px;
}
.link-linkedin {
   background-position: -56px -0;
}

.footer__form {
   position: relative;
   input {
      border: none;
      background-color: #2f3c43;
      display: block;
      width: 100%;
      height: 40px;
      color: #fff;
      padding-left: 13px;
      padding-right: 50px;
      &::placeholder {
         color: #697378;
      }
   }
   & button {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $green;
      height: 40px;
      width: 43px;
      cursor: pointer;
      &::before {
         content: "\f124";
         position: absolute;
         font-family: "icomoon";
         color: #fff;
         font-size: 20px;
         top: 6px;
         left: 10px;
      }
   }
}
.footer__form-title {
   font-size: 20px;
   color: #fff;
   margin-bottom: 15px;
}

.footer__copy {
   border-top: 1px solid #424d53;
}
.footer__copy-text {
   text-align: center;
   color: #919699;
   padding: 20px 0px 30px;
}
// end footer

//  start product-one
.product-one {
   padding-bottom: 100px;
}
.product-one__inner {
   display: flex;
}
.product-one__content {
   margin-right: 31px;
   max-width: 870px;
}
.product-one__images-inner {
   background-color: #fff;
   border: 1px solid #dcdcdc;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 16px 0;
}
.product-one__images {
   max-width: 829px;
   width: 100%;
   height: 422px;
   background-image: url(images/content/details.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.product-one__title {
   font-size: 30px;
   color: $bg;
   line-height: 40px;
   @include f500;
   margin-top: 30px;
   margin-bottom: 20px;
}
.product-one__text {
   font-size: 16px;
   color: #707070;
   margin-bottom: 35px;
   margin-top: 20px;
}
.product-one__box {
   margin-bottom: 55px;
   display: flex;
   justify-content: space-between;
   text-align: center;
}
.product-one__link {
   a {
      width: 150px;
      color: $gray;
      font-size: 16px;
      @include f500;
      padding: 14px 8px;
      & + a {
         margin-left: 20px;
      }
   }
}
.link-live {
   background-color: $red;
}
.link-screenshots {
   background-color: #455a64;
}
.link-documentation {
   background-color: $green;
}
.product-one__social {
   a {
      width: 54px;
      height: 50px;
      position: relative;
      & + a {
         margin-right: 3px;
      }
      &::before {
         color: #fff;
         font-size: 18px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
}
.icon-facebook {
   background-color: #6370b6;
}
.icon-twitter {
   background-color: #64b5f6;
}
.icon-linkedin {
   background-color: #4f71ce;
}
.icon-pinterest-p {
   background-color: #d32f2f;
}

.product-one__more-title {
   font-size: 18px;
   @include f500;
   color: $bg;
   padding: 18px 25px;
   background-color: #fff;
   border: 1px solid #dcdcdc;
   margin-bottom: 28px;
}

.product-one__more-icons {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.productmini {
   margin-bottom: 25px;
   display: flex;
   height: 90px;
   max-width: 270px;
   width: 100%;
   background-color: #fff;
   align-items: center;
   box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}
.productmini__images {
   width: 100px;
   height: 90px;
   margin-right: 20px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.productmini__name {
   font-size: 14px;
   @include f500;
   color: $bg;
}
.productmini__theme {
   font-size: 12px;
   color: $green;
}
.productmini__price {
   font-size: 18px;
   @include f700;
   color: $bg;
}

.tabs {
   display: flex;
   text-align: center;
   border: 1px solid #d7d7d7;
   .tab {
      width: 100%;
      background-color: #fff;
      font-size: 16px;
      color: #70838d;
      padding: 17px 0px;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      & + .tab {
         border-left: 1px solid #d7d7d7;
      }
   }
   span {
      &.active {
         border-bottom: 3px solid $green;
         color: $bg;
         @include f500;
      }
   }
}
.tab-content {
   background-color: #fff;
   border: 1px solid #d7d7d7;
   border-top: none;
   padding: 30px 30px 50px;
}

.product-one__more {
   margin-top: 55px;
}

.tab-items__list {
   line-height: 36px;
   font-size: 16px;
   color: #707070;
   column-count: 2;
}

//fix tabs чтоб на первой странице отображались не все табы сразу
.tab-item {
   display: none;
   &:first-child {
      display: block;
   }
}
//
// start aside sidbar
.price__box {
   display: flex;
   justify-content: space-between;
   padding: 30px 0;
}
.price__product {
   font-size: 22px;
   @include f500;
   color: $red;
}

.product__price {
   button {
      margin-bottom: 7px;
      box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
      border: none;
      background-color: $text;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      font-family: "Roboto", sans-serif !important;
      text-align: center;
      display: block;
      padding: 17px 5px 15px;
      width: 100%;
      cursor: pointer;
      &::before {
         font-weight: 400;
         font-family: "icomoon";
         padding-right: 8px;
      }
   }
   .icon-shopping-cart {
      background-color: $green;
   }
   .icon-heart-o {
      background-color: #42a5f5;
   }
}

.product-author__box {
   padding: 25px 0;
   display: flex;
}
.author__avatar {
   margin-right: 14px;
}
.author__name {
   font-size: 18px;
   color: $bg;
   margin-bottom: 7px;
}
.author__info-link {
   font-size: 13px;
   color: #707070;
   padding: 3px 10px 2px;
   border: 1px solid #d6d6d6;
}
.author__awards-list {
   li {
      display: inline-block;
      color: #fff;
      font-size: 20px;
      text-align: center;
      position: relative;
      &::before {
         position: absolute;
         top: 6px;
         left: 0;
         right: 0;
      }
      & + li {
         margin-left: 4px;
      }
   }
}
.icon-meh-o {
   background-image: url(../images/awards/awards-orange.png);
   width: 34px;
   height: 37px;
}
.icon-pagelines {
   background-image: url(../images/awards/awards-red.png);
   width: 34px;
   height: 37px;
}
.icon-flash {
   background-image: url(../images/awards/awards-blue.png);
   width: 34px;
   height: 37px;
}
.icon-foursquare {
   background-image: url(../images/awards/awards-green.png);
   width: 34px;
   height: 37px;
}
.icon-yen {
   background-image: url(../images/awards/awards-gray.png);
   width: 34px;
   height: 37px;
}

.aside__item-sales {
   padding-top: 17px;
   font-size: 16px;
   @include f300;
   color: #707070;
   span {
      font-size: 20px;
      color: $bg;
      @include f700;
      padding-right: 13px;
      &::before {
         content: "\f07a";
         color: #a6b5bb;
         font-family: "icomoon";
         padding-right: 20px;
      }
   }
}
.aside__item.sales-number {
   padding-bottom: 18px;
}

.aside__item {
   background-color: #fff;
   border: 1px solid #dedede;
   padding: 0px 32px 30px;
   margin-bottom: 30px;
   width: 270px;
}
.aside__title {
   font-size: 20px;
   @include f700;
   color: $bg;
   border-bottom: 1px solid #dde3e8;
   padding: 27px 0px 20px;
}
.information__line {
   font-size: 14px;
   color: #70838d;
   margin-top: 20px;
   line-height: 18px;
   span {
      @include f500;
      color: $bg;
   }
}
//end asade sidebar

// End product-one

// start page 404
.page-404__wrapper,
.about__wrapper,
.contact__wrapper {
   border: 1px solid #dcdcdc;
   background-color: #fff;
   margin-bottom: 150px;
}
.page-404__head,
.about__head,
.contact__head {
   font-size: 24px;
   @include f500;
   color: #444444;
   border-bottom: 1px solid #dcdcdc;
   padding: 23px 27px;
}
.page-404__inner {
   text-align: center;
   background-color: $green;
   color: #fff;
}
.page-404__404 {
   font-family: "Open Sans", sans-serif;
   font-weight: 800;
   font-size: 300px;
   line-height: 300px;
   padding-top: 70px;
   padding-bottom: 20px;
   position: relative;
   &::after {
      position: absolute;
      content: "";
      background-image: url(../images/page-404.png);
      width: 150px;
      height: 292px;
      margin-left: 20px;
   }
   // тень под чуваком
   &::before {
      content: "";
      background-image: url(../images/shadow-404.png);
      width: 157px;
      height: 20px;
      position: absolute;
      right: 146px;
      bottom: 18px;
   }
   //
}
.page-404__title {
   margin-bottom: 30px;
   font-size: 30px;
   @include f300;
   letter-spacing: 6px;
}
.page-404__text {
   font-size: 18px;
   max-width: 530px;
   margin: 0 auto;
   margin-bottom: 60px;
}
.page-404__link {
   font-size: 14px;
   color: #fff;
   text-transform: uppercase;
   padding: 15px 38px 16px;
   border: 1px solid #fff;
   border-radius: 4px;
   margin-bottom: 100px;
}
// end page 404

//start about us
.about__inner {
   padding: 0px 50px;
}
.about__box {
   h3 {
      font-size: 20px;
      @include f700;
      color: #444;
      margin-top: 40px;
      margin-bottom: 15px;
   }
   p {
      margin-bottom: 40px;
      color: #707070;
   }
}
//end about us

//start contacts
.contact__head {
   padding-left: 40px;
   padding-right: 40px;
}
.contact__inner {
   padding: 35px 40px 15px;
}
.contact__map {
   margin-bottom: 50px;
   min-height: 415px;
   iframe {
      width: 100%;
      height: 415px;
   }
}
.contact__box {
   display: flex;
}
.contact__info {
   margin-right: 30px;
   max-width: 330px;
   width: 100%;
}
.contact__info-item {
   margin-bottom: 30px;
}
.contact__info-title {
   font-size: 20px;
   @include f500;
   color: $bg;
   padding-bottom: 20px;
   padding-left: 40px;
   position: relative;
   margin-bottom: 20px;
   &::after {
      content: "";
      position: absolute;
      width: 64px;
      height: 4px;
      background-color: $green;
      left: 40px;
      bottom: 0;
   }
   &::before {
      color: $green;
      font-size: 24px;
      position: absolute;
      left: 0;
   }
}
.contact__info-content {
   color: #707070;
   padding-left: 40px;
   max-width: 270px;
}
.contact__form {
   width: 100%;
   input {
      border: none;
      padding-left: 17px;
      padding-right: 17px;
      height: 43px;
      width: 350px;
      background-color: #f1f4f5;
      margin-bottom: 30px;
      &::placeholder {
         color: #7a7a7a;
         font-size: 15px;
      }
   }
   textarea {
      border: none;
      padding: 13px 17px;
      min-height: 191px;
      background-color: #f1f4f5;
      width: 100%;
      display: block;
      resize: none;
      margin-bottom: 22px;
      &::placeholder {
         color: #7a7a7a;
         font-size: 15px;
      }
   }
   button {
      border: none;
      background-color: $green;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      @include f700;
      padding: 19px 19px;
      width: 190px;
   }
}
.contact__form-title {
   font-size: 24px;
   @include f500;
   color: #333333;
   margin-bottom: 20px;
}
.contact__form-row {
   display: flex;
   justify-content: space-between;
}
//end contacts

// start settings
.settings {
   padding-bottom: 150px;
}
.product-one__tabs.settings__tabs {
   display: flex;
   .tabs {
      max-width: 270px;
      width: 100%;
      margin-right: 30px;
      border: 1px solid #dedede;
      border-bottom: none;
      text-align: left;
      display: block;
      height: 100%;
      span {
         display: block;
         background-color: #fff;
         border-bottom: 1px solid #dedede;
         padding: 17px 17px 17px 50px;
         color: #707070;
         font-size: 14px;
         @include f500;
         &.active {
            border-bottom: 2px solid $green;
            color: #37474f;
            &::before {
               color: $green;
            }
         }
         &::before {
            left: 24px;
            bottom: 20px;
            color: #444444;
         }
      }
   }
   .tabs .tab + .tab {
      border-left: none;
   }
   .tab-content {
      width: 100%;
      padding: 0;
      border: none;
      background-color: transparent;
   }
}

.page-box {
   background-color: #fff;
   border: 1px solid #dedede;
}
.page-box__title {
   font-size: 24px;
   @include f500;
   color: $bg;
   padding: 18px 34px;
   border-bottom: 1px solid #dedede;
}

.page-box__content {
   padding: 30px 35px 80px;
   button {
      color: #fff;
      @include f500;
      background-color: $green;
      border: none;
      text-align: center;
      width: 108px;
      padding: 14px 0;
      margin-left: 258px;
   }
}
.settings__line {
   margin-bottom: 21px;
   display: flex;
   align-items: center;
   label {
      color: #444444;
      width: 260px;
   }
   input {
      max-width: 540px;
      width: 100%;
      height: 40px;
      color: #000;
      border: 1px solid #dedede;
      background-color: #f9f9f9;
      padding: 0px 10px;
   }
   select {
      max-width: 540px;
      width: 100%;
      height: 40px;
      color: #000;
      border: 1px solid #dedede;
      background-color: #f9f9f9;
      padding: 0px 10px;
      color: #707070;
   }
}
//end settings

//start profile

.profile__inner {
   display: flex;
   margin-bottom: 20px;
}
.profile__aside {
   margin-right: 30px;
   max-width: 270px;
   width: 100%;
   & .footer__social-link {
      margin-bottom: 30px;
   }
}
.profile__content {
   width: 100%;
}
.profile-status {
   color: #70838d;
   font-size: 13px;
   border: 1px solid #d6d6d6;
   padding: 3px 9px 3px 30px;
   position: relative;
   &::before {
      position: absolute;
      content: "";
      left: 11px;
      top: 10px;
      width: 9px;
      height: 9px;
      border-radius: 50%;
   }
}
.profile-on {
   &::before {
      background-color: $green;
   }
}
.profile-off {
   &::before {
      background-color: $red;
   }
}

.profile__aside-btn {
   margin-bottom: 13px;
   text-align: center;
}
.profile__aside-message {
   margin-bottom: 17px;
   display: block;
   width: 100%;
   font-size: 16px;
   @include f500;
   color: #fff;
   background-color: $text;
   padding: 16px 10px;
   position: relative;
   box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
   &::before {
      position: absolute;
      content: "\f003";
      font-family: "icomoon";
      left: 60px;
      top: 15px;
   }
}
.profile__aside-following {
   margin-bottom: 17px;
   display: block;
   width: 100%;
   @include f700;
   color: #fff;
   background-color: $green;
   padding: 16px 10px;
   box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
}

.profile__banner {
   border: 1px solid #dedede;
   padding: 20px;
   background-color: #fff;
   margin-bottom: 35px;
}
.profile__banner-images {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   min-height: 332px;
}
.profile__items {
   display: flex;
   border: 1px solid #dedede;
}
.profile__item {
   width: 25%;
   background-color: #fff;
   text-align: center;
   padding: 18px 5px 17px;
   & + .profile__item {
      border-left: 1px solid #dedede;
   }
}
.profile__item-title {
   font-size: 14px;
   @include f500;
   color: $bg;
}
.profile__item-content {
   font-size: 14px;
   color: #707070;
   .rate-star {
      margin-right: 6px;
   }
   span {
      color: $bg;
      font-size: 12px;
   }
   &.profile__item-sales {
      color: #000;
   }
}

.profile-settings {
   padding-bottom: 115px;
   .product-one__tabs.settings__tabs {
      .tabs span {
         font-family: "Roboto", sans-serif !important;
         font-weight: 500;
         color: #707070;
         position: relative;
         &.active::before {
            color: $green;
         }
         &.active {
            color: $bg;
         }
         &::before {
            font-family: "icomoon";
            font-size: 14px;
            color: #d0d0d0;
            position: absolute;
            left: 27px;
            top: 15px;
         }
      }
   }
}

.personal-box {
   background-color: #fff;
   padding: 35px 40px 25px;
   border: 1px solid #dedede;
}
.personal-box__title {
   font-size: 20px;
   @include f700;
   color: $bg;
   margin-bottom: 25px;
}
.personal-box__text {
   margin-bottom: 20px;
   p {
      color: #707070;
   }
}

.personal-box__item-head {
   display: flex;
   justify-content: space-between;
   margin-bottom: 16px;
}
.personal-box__item-name {
   font-size: 16px;
   @include f500;
   color: $bg;
   font-style: italic;
}
.personal-box__item-number {
   font-size: 16px;
   @include f700;
   color: $bg;
}
.personal-box__item-line {
   background-color: #f4f4f4;
   height: 15px;
   width: 100%;
   border-radius: 3px;
   margin-bottom: 23px;
   span {
      display: block;
      border-radius: 3px;
      height: 15px;
      background-image: url("../images/pro-bar.jpg");
   }
}
//end profile

//start upload
.upload__inner {
   background-color: #fff;
   border: 1px solid #d7d7d7;
   margin-bottom: 110px;
   button {
      color: #fff;
      background-color: $green;
      padding: 15px 36px;
      margin-left: 175px;
      border: none;
      cursor: pointer;
   }
}
.upload__inner-title {
   border-bottom: 1px solid #d7d7d7;
   font-size: 24px;
   @include f500;
   color: $bg;
   padding: 16px 35px 18px;
   margin-bottom: 40px;
}
.upload__inner-content {
   margin-bottom: 30px;
   padding-left: 45px;
   padding-right: 48px;
}
.upload-line {
   margin-bottom: 25px;
   display: flex;
   label {
      min-width: 175px;
      padding-right: 15px;
      color: #444444;
      padding-top: 5px;
      span {
         color: $green;
      }
   }
   select,
   input,
   textarea {
      width: 100%;
      display: block;
      border: 1px solid #d7d7d7;
      height: 40px;
      background-color: #f9f9f9;
      padding: 0px 18px;
      &::placeholder {
         color: #707070;
      }
   }
   textarea {
      resize: none;
      height: 150px;
      padding: 8px 18px;
   }
   input[type="file"] {
      outline: none;
   }
   //переназначаем jq form styler
   .jq-file__browse {
      top: 5px;
      right: auto;
      left: 9px;
      padding: 0px 12px;
      line-height: 26px;
      border: 1px solid #d7d7d7;
      border-left: 1px solid #d7d7d7;
      border-radius: 0px;
      background: #fff;
      box-shadow: none;
      text-shadow: none;
      font-size: 12px;
      color: #444444;
   }
   .jq-file {
      width: 100%;
      border-radius: 0px;
      box-shadow: none;
      border: 1px solid #d7d7d7;
      height: 40px;
      background-color: #f9f9f9;
   }
   .jq-file__name {
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      padding: 0px 18px;
      border: none;
      border-bottom-color: transparent;
      border-radius: 0px;
      background: transparent;
      box-shadow: none;
      font-size: 12px;
      color: #707070;
      line-height: 40px;
      margin-left: 100px;
   }

   .jq-selectbox {
      width: 100%;
   }
   .jq-selectbox__select {
      height: 40px;
      padding: 0px 18px;
      border: 1px solid #d7d7d7;
      border-bottom-color: #d7d7d7;
      border-radius: 0px;
      background: #f9f9f9;
      box-shadow: none;
      color: #707070;
      text-shadow: none;
      font-family: "Roboto-Regular", sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 40px;
   }

   .jq-selectbox__trigger-arrow {
      border: none;
      top: 0;
      right: 20px;
      line-height: 40px;
      font-size: 15px;
      &::before {
         font-family: "icomoon";
         content: "\f0d7";
      }
   }
   .jq-selectbox__trigger {
      border-left: none;
   }
}
//
// .jq-selectbox .jq-selectbox__dropdown {
//    top: 39px;
// }
//end upload

//start withdrawals

.withdrawals__inner {
   display: flex;
   justify-content: space-between;
   margin-bottom: 110px;
}

.withdrawals__col {
   max-width: 570px;
   width: 100%;
   background-color: #fff;
   border: 1px solid #dedede;
   height: 100%;
}
.withdrawals__title {
   font-size: 24px;
   color: $bg;
   @include f500;
   padding: 18px 32px 24px;
   border-bottom: 1px solid #dedede;
   margin-bottom: 30px;
}
.withdrawals__content {
   padding-left: 35px;
   padding-right: 40px;
   button {
      margin-bottom: 50px;
      color: #fff;
      background-color: $green;
      border: none;
      padding: 15px 36px;
      cursor: pointer;
   }
}
.withdrawals__form-line {
   margin-bottom: 25px;
   label {
      display: block;
      width: 100%;
      font-size: 16px;
      @include f500;
      color: $bg;
      margin-bottom: 15px;
      span {
         color: $green;
      }
   }
   input,
   select {
      width: 100%;
      display: block;
      border: 1px solid #d7d7d7;
      height: 40px;
      background-color: #f9f9f9;
      padding: 0px 18px;
      &::placeholder {
         color: #707070;
      }
   }
   .jq-selectbox {
      width: 100%;
   }
   .jq-selectbox__select {
      height: 40px;
      padding: 0px 18px;
      border: 1px solid #d7d7d7;
      border-bottom-color: #d7d7d7;
      border-radius: 0px;
      background: #f9f9f9;
      box-shadow: none;
      color: #707070;
      text-shadow: none;
      font-family: "Roboto-Regular", sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 40px;
   }

   .jq-selectbox__trigger-arrow {
      border: none;
      top: 0;
      right: 20px;
      line-height: 40px;
      font-size: 15px;
      &::before {
         font-family: "icomoon";
         content: "\f0d7";
      }
   }
   .jq-selectbox__trigger {
      border-left: none;
   }
}

.withdrawals__content-items {
   padding-bottom: 35px;
}

.withdrawals__content-item {
   display: flex;
   height: 42px;
   align-items: center;
   font-size: 13px;
   color: #444444;
   &:nth-child(odd) {
      background-color: #f9f9f9;
   }
}
.withdrawals__content-date {
   width: 154px;
   padding-left: 20px;
   @include f500;
}
.withdrawals__content-email {
   width: 180px;
}
.withdrawals__content-price {
   width: 70px;
   @include f700;
}
.withdrawals__content-status {
   width: 88px;
   @include f700;
   &.withdrawals__content-paid {
      color: $green;
   }
}

///end withdrawals
@import "media";
